.list-receiveds {
    transition: all 1s;
}

.list-item-component {
    transition: background-color 0.2s, transform 0.2s;
    &:hover {
        // background-color: #eee;
        transform: translateY(-4px);
        box-shadow: 0px 3px 10px 0px #ccc;
        transition: all 0.2s;
    }
}