<template>
  <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center">
    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
      <div slot="no-body" class="full-page-bg-color">
        <div class="vx-row no-gutter">
          <div class="vx-col hidden sm:hidden md:hidden lg:block lg:w-1/2 mx-auto self-center">
            <img src="@assets/images/pages/register.jpg" alt="register" class="mx-auto" />
          </div>
          <div class="vx-col sm:w-full md:w-full lg:w-1/2 mx-auto self-center d-theme-dark-bg">
            <div class="px-8 pt-8 register-tabs-container">
              <div class="vx-card__title mb-4">
                <h4 class="mb-4">Criar Conta</h4>
                <p>Preencha o formulário abaixo para criar uma nova conta.</p>
              </div>

              <div class="clearfix">
                <vs-input
                  v-validate="'required|min:4'"
                  data-vv-validate-on="blur"
                  label-placeholder="Nome"
                  data-vv-as="Nome"
                  name="name"
                  placeholder="Nome"
                  v-model="name"
                  class="w-full"
                />
                <span class="text-danger text-sm">{{ errors.first('name') }}</span>

                <vs-input
                  name="email"
                  type="email"
                  v-validate="'required|email'"
                  data-vv-validate-on="blur"
                  data-vv-as="Email"
                  label-placeholder="Email"
                  placeholder="Email"
                  class="w-full mt-6"
                  v-model="email"
                />
                <span class="text-danger text-sm">{{ errors.first('email') }}</span>

                <vs-input
                  name="password"
                  type="password"
                  ref="password"
                  v-validate="'required|min:6|max:10'"
                  data-vv-validate-on="blur"
                  data-vv-as="Senha"
                  label-placeholder="Senha"
                  placeholder="Senha"
                  class="w-full mt-6"
                  v-model="password"
                />
                <span class="text-danger text-sm">{{ errors.first('password') }}</span>

                <vs-input
                  name="confirm_password"
                  type="password"
                  v-validate="'min:6|max:10|confirmed:password'"
                  data-vv-validate-on="blur"
                  data-vv-as="Confirmar Senha"
                  label-placeholder="Confirmar senha"
                  placeholder="Confirmar senha"
                  class="w-full mt-6"
                  v-model="confirm_password"
                />
                <span class="text-danger text-sm">{{ errors.first('confirm_password') }}</span>

                <vs-checkbox
                  v-model="isTermsConditionAccepted"
                  class="mt-6"
                >Aceito os termos e condições.</vs-checkbox>
                <vs-button type="border" to="/pages/login" class="mt-6">Login</vs-button>
                <vs-button
                  class="float-right mt-6"
                  @click="registerUserJWt"
                  :disabled="!validateForm"
                >Register</vs-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "",
      email: "",
      password: "",
      confirm_password: "",
      isTermsConditionAccepted: true
    };
  },
  computed: {
    validateForm() {
      return (
        !this.errors.any() &&
        this.name != "" &&
        this.email != "" &&
        this.password != "" &&
        this.confirm_password != "" &&
        this.isTermsConditionAccepted === true
      );
    }
  },
  methods: {
    checkLogin() {
      // If user is already logged in notify
      if (this.$store.state.auth.isUserLoggedIn()) {
        // Close animation if passed as payload
        // this.$vs.loading.close()

        this.$vs.notify({
          title: "Tentativa de login",
          text: "Você já está logado!",
          iconPack: "feather",
          icon: "icon-alert-circle",
          color: "warning"
        });

        return false;
      }
      return true;
    },
    registerUserJWt() {
      // If form is not validated or user is already login return
      if (!this.validateForm) return;
      const payload = {
        userDetails: {
          name: this.name,
          email: this.email,
          password: this.password,
          confirmPassword: this.confirm_password
        },
        notify: this.$vs.notify
      };
      this.$store
        .dispatch("auth/registerUserJWT", payload)
        .then(result => {
          this.$vs.loading.close();
          this.$vs.notify({
            text: "Verifique seu e-mail. Cadastrado com Sucesso!",
            color: "success",
            iconPack: "feather",
            icon: "icon-check-circle"
          });
          //this.$router.push({ name: "page-login" });
        })
        .catch(error => {
          this.$vs.loading.close();
          this.$vs.notify({
            text: error.message,
            iconPack: "feather",
            icon: "icon-alert-circle",
            color: "danger"
          });
        });
    }
  }
};
</script>

<style lang="scss">
.register-tabs-container {
  min-height: 517px;

  .con-tab {
    padding-bottom: 23px;
  }
}
</style>
