<template>
  <div id="prevision-card">
    <data-view-sidebar
      :isSidebarActive="addNewDataSidebar"
      @closeSidebar="toggleDataSidebar"
      :data="sidebarData"
    />
    <vx-card
      :title="title"
      title-color="success"
      :subtitle="description"
      class="mb-base"
      collapse-action
    >
      <template>
        <div class="vx-row flex justify-between">
          <div class="vx-col vs-lg-5 vs-sm-4 vs-xs-4 text-2xl">{{title}}</div>
          <div class="vx-col vs-lg-3 vs-sm-4 vs-xs-4 text-2xl text-right">Planejado</div>
          <div class="vx-col vs-lg-3 vs-sm-4 vs-xs-4 text-2xl text-right mb-3">Recebido</div>
        </div>
        <draggable
          v-model="releases"
          :move="checkMove"
          :key="id"
          :options="{group: id, draggable:'.releases'}"
        >
          <transition-group tag="ul">
            <li v-for="(release, indextr) in releases" :key="indextr+1" class="releases">
              <div
                class="vx-row flex justify-between cursor-pointer p-3"
                @click.stop="editData(release)"
              >
                <div class="vx-col flex flex-row vs-lg-5 vs-sm-3 vs-xs-3 ml-0 pl-0 items-center">
                  <vs-icon icon="drag_indicator" class="cursor-move"></vs-icon>
                  <vx-tooltip :text="release.name">{{ release.name|truncate(25) }}</vx-tooltip>
                </div>

                <div
                  class="vx-col vs-lg-3 vs-sm-4 vs-xs-4 text-right"
                >{{ release.planned | money_label }}</div>
                <div
                  class="vx-col vs-lg-3 vs-sm-4 vs-xs-4 text-right"
                >{{ totalReceived(release.receiveds) | money_label }}</div>
              </div>
              <vs-divider class="md:w-full my-1" />
            </li>
          </transition-group>
        </draggable>
        <div class="vx-row flex justify-between p-3">
          <div class="vx-col flex flex-row vs-lg-5 vs-sm-3 vs-xs-3 ml-0 pl-0 items-center"></div>
          <!-- <div
          class="vx-col vs-lg-3 vs-sm-4 vs-xs-4 text-right text-primary"
        >{{ totalPlanned(keyPrevision) | money_label }}</div>
        <div
          class="vx-col vs-lg-3 vs-sm-4 vs-xs-4 text-right text-primary"
          color="primary"
          >{{ totalReceiveds(keyPrevision) | money_label }}</div>-->
        </div>
        <div class="vx-row">
          <div
            class="btn-add-new p-3 my-3 mx-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
            @click="addNewData"
          >
            <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
            <span class="ml-2 text-base text-primary">Add Previsão</span>
          </div>
        </div>
      </template>
    </vx-card>
  </div>
</template>

<script>
import DataViewSidebar from "../ui-elements/prevision/DataViewSidebar.vue";
import draggable from "vuedraggable";

export default {
  name: "prevision-card",
  components: {
    DataViewSidebar,
    draggable
  },
  data() {
    return {
      addNewDataSidebar: false,
      sidebarData: {}
    };
  },
  props: ["keyPrevision", "id", "title", "description"],
  computed: {
    releases: {
      get() {
        return this.$store.state.prevision.previsions[this.keyPrevision]
          .releases;
      },
      set(value) {
        console.log("key:" + this.keyPrevision);
        console.log(value);
        let data = Object.assign([], value);
        /*  this.$store.commit("prevision/SET_PREVISIONS", data);
        this.$store.commit("setPagesGroup", {
          value,
          key: this.id
        }); */
      }
    }
  },
  methods: {
    addNewData() {
      this.sidebarData = {};
      this.toggleDataSidebar(true);
    },
    editData(data) {
      this.sidebarData = data;
      this.toggleDataSidebar(true);
    },
    deleteData(id) {
      this.$store.dispatch("prevision/removeItem", id).catch(err => {
        console.error(err);
      });
    },
    totalReceived(receiveds) {
      let total = receiveds.reduce((total, valor) => total + valor.received, 0);
      return total;
    },
    totalPlanned: function(id) {
      return this.$store.getters["prevision/getTotalPlanned"](id);
    },
    totalReceiveds(id) {
      return this.$store.getters["prevision/getTotalReceiveds"](id);
    },
    toggleDataSidebar(val = false) {
      this.addNewDataSidebar = val;
    },
    checkMove(value) {
      console.log(value.relatedContext.list);
    }
  }
};
</script>
