<template>
  <div id="previsions">
    <div class="vx-row mb-0 ml-1">
      <small class="flex">
        <datepicker
          ref="programaticOpen"
          :format="format"
          :language="languages[language]"
          :minimumView="'month'"
          :maximumView="'month'"
          v-model="dateMonthLocal"
          :input-class="'ml-auto vs-select-no-border'"
        ></datepicker>
        <feather-icon @click="openPicker" icon="ChevronDownIcon" svgClasses="h-4 w-4" class="ml-1" />
      </small>
    </div>
    <div class="mt-2 mb-2 ml-1">
      <span class="text-success">R$180,00 restantes para orçamento</span>
    </div>
    <vs-divider class="md:w-3/5 mt-1" />
    <div class="vx-col w-full md:w-3/5 mb-base">
      <div v-if="previsions">
        <div v-for="(prevision, index) in previsions" :key="index">
          <prevision-card
            :id="prevision.id"
            :keyPrevision="index"
            :title="prevision.title"
            :description="prevision.description"
          />
        </div>
        <new-group />
      </div>
      <div v-else>
        <div class="vx-row mt-16 p-8">
          <div
            class="title centex items-center text-black text-info text-bold text-2xl"
          >Parece que você ainda não possui um Orçamento para este mês.</div>
        </div>
        <div class="vx-row items-center justify-center">
          <vs-button
            class="items-center"
            @click.prevent="cloneMesAnterior()"
            color="primary"
            type="border"
          >Começar a Planejar</vs-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Datepicker from "vuejs-datepicker";
import * as lang from "vuejs-datepicker/src/locale";
import NewGroup from "./PrevisionAddNewGroup.vue";
import modulePrevision from "@/store/prevision/modulePrevision.js";
import PrevisionCard from "./PrevisionCard.vue";

export default {
  components: {
    Datepicker,
    NewGroup,
    PrevisionCard
  },
  data() {
    return {
      dateMonthLocal: new Date(Date.now()),
      language: "ptBR",
      languages: lang,
      format: "MMMM yyyy",
      money: {
        decimal: ",",
        thousands: ".",
        prefix: "R$",
        precision: 2,
        masked: false /* doesn't work with directive */
      }
    };
  },
  created() {
    this.toogleNavBar();

    this.$store.registerModule("prevision", modulePrevision);
    modulePrevision.isRegistered = true;

    this.initiateMonth();
  },
  computed: {
    previsions: {
      get() {
        return this.$store.state.prevision.previsions;
      },
      set(value) {
        let data = Object.assign([], value);
        this.$store.commit("prevision/SET_PREVISIONS", data);
      }
    }
  },
  watch: {
    "$store.state.windowWidth"() {
      this.toogleNavBar();
    }
  },
  methods: {
    initiateMonth() {
      this.$store.dispatch(
        "prevision/fetchPrevisions",
        this.$options.filters.monthYear(this.dateMonthLocal)
      );
    },
    cloneMesAnterior() {
      alert("CLONAR");
    },
    toogleNavBar() {
      this.$store.state.windowWidth > 1200
        ? this.$store.commit("UPDATE_NAV_BAR_TYPE", "hidden")
        : this.$store.commit("UPDATE_NAV_BAR_TYPE", "floating");
    },

    openPicker() {
      this.$refs.programaticOpen.showCalendar();
    }
  },
  filters: {
    monthYear: function(data) {
      let month = new Date(data);
      return month.getMonth() + 1 + "/" + month.getFullYear();
    }
  },
  beforeDestroy: function() {
    this.$store.unregisterModule("prevision");
  }
};
</script>

<style module>
input.vs-select-no-border {
  box-shadow: 0 0 0 0 !important;
  border: 1 solid black !important;
  outline: 0 !important;
  background-color: #f8f8f8;
  font-size: 20px;
}
input.vs-select-no-border:hover,
span.vs-select-no-border:hover {
  background-color: #cfc1c1;
  cursor: pointer;
}
</style>
