<template>
  <div>
    <div
      class="btn-add-new p-3 my-3 mt-0 w-full rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-dashed border-primary"
      @click="activePrompt = true"
    >
      <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
      <span class="ml-2 text-base text-primary">Add Grupo</span>
    </div>
    <vs-prompt
      title="Add Grupo"
      accept-text="Add Grupo"
      button-cancel="border"
      @cancel="clearFields"
      @accept="addGroup"
      @close="clearFields"
      :is-valid="validateForm"
      :active.sync="activePrompt"
    >
      <div>
        <form>
          <div class="vx-row">
            <div class="vx-col w-full">
              <vs-input
                v-validate="'required'"
                name="title"
                class="w-full mb-4 mt-5"
                placeholder="Nome do Grupo"
                v-model="previsionLocal.title"
                :color="validateForm ? 'success' : 'danger'"
              />
              <vs-textarea rows="5" label="Descrição do Grupo" v-model="previsionLocal.desc" />
            </div>
          </div>
        </form>
      </div>
    </vs-prompt>
  </div>
</template>

<script>
export default {
  data() {
    return {
      activePrompt: false,

      previsionLocal: {
        title: "",
        desc: "",
      },
    };
  },
  computed: {
    validateForm() {
      return !this.errors.any() && this.previsionLocal.title != "";
    },
  },
  methods: {
    clearFields() {
      Object.assign(this.previsionLocal, {
        title: "",
        desc: "",
      });
    },
    addGroup() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$store.dispatch(
            "prevision/addItem",
            Object.assign({}, this.previsionLocal)
          );
          this.clearFields();
        }
      });
    },
  },
};
</script>
