<template>
  <div>
    <!-- TOTAL EM QNT DE RECEBIDOS -->
    <transition name="fade">
      <div v-if="!activeAddReceived" class="vx-row w-full flex justify-between m-0 mb-2">
        <div class="vx-col pt-2 p-0">{{totalDataReceivedsLocal}} Recebido(s)</div>
        <div class="vs-col pt-1 p-0">
          <vs-button
            @click.prevent="toggleAddList(true)"
            size="small"
            color="primary"
            type="border"
            icon-pack="feather"
            icon="icon-plus"
          >Add</vs-button>
        </div>
      </div>
    </transition>
    <!-- LISTA DE RECEBIDOS -->
    <template v-if="!activeAddReceived">
      <draggable v-model="receivedsListLocal">
        <transition-group tag="ul">
          <li
            class="cursor-pointer todo_todo-item"
            v-for="(item, index) in receivedsListLocal"
            :key="index+1"
            :style="[{transitionDelay: (index * 0.1) + 's'}]"
          >
            <div class="px-1 py-1">
              <div class="vx-row">
                <div class="vx-col w-4/6 flex flex-row">
                  <div class="flex text-primary">{{item.date|date}}</div>
                  <div class="flex ml-2">{{item.name|truncate(15)}}</div>
                </div>
                <div class="vx-col w-2/6 ml-auto flex justify-end text-success">
                  {{item.received | money_label}}
                  <feather-icon
                    icon="TrashIcon"
                    class="cursor-pointer list-item-component ml-1"
                    svgClasses="text-danger w-5 h-5"
                    @click.stop="moveToReceivedLocal(index+1)"
                  />
                </div>
              </div>
            </div>
          </li>
        </transition-group>
      </draggable>
    </template>

    <!-- CADASTRO DE RECEBIDOS -->
    <transition name="fade">
      <div v-if="activeAddReceived" class="vx-row flex">
        <div class="vx-col vs-lg-5 vs-sm-5 vs-xs-5 pr-1 mt-2">
          <datepicker
            ref="programaticOpen"
            :format="format"
            :language="languages[language]"
            :input-class="'vs-inputx vs-input--input normal hasValue w-full w-6'"
            v-model="receivedLocal.date"
          ></datepicker>
        </div>
        <div class="vx-col vs-lg-7 vs-sm-7 vs-xs-7 pl-1 mt-2">
          <vs-input v-model="receivedLocal.name" class="w-full" placeholder="Descrição" />
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div v-if="activeAddReceived" class="vx-row flex">
        <div class="vx-col vs-lg-12 vs-sm-12 vs-xs-12">
          <vx-input-group class="mt-2 w-full">
            <template slot="prepend">
              <div class="prepend-text bg-primary">
                <span>R$</span>
              </div>
            </template>
            <money
              v-model="receivedLocal.received"
              v-bind="money"
              class="vs-inputx vs-input--input normal hasValue"
            ></money>
          </vx-input-group>
        </div>
      </div>
    </transition>
    <!-- QNT DE RECEBIDOS EM VALOR(R$) -->
    <div v-if="!activeAddReceived" class="vx-row flex">
      <vs-divider />
    </div>
    <div v-if="!activeAddReceived" class="flex justify-between font-semibold mb-3">
      <div>Total de Recebidos</div>
      <div>{{totalValueReceivedsLocal|money_label}}</div>
    </div>
    <!-- BOTÕES DE RECEBIDOS -->
    <transition name="fade">
      <div v-if="activeAddReceived" class="vx-row flex justify-between">
        <div class="vx-col mt-2">
          <vs-button
            @click.stop="addReceivedLocal"
            :disabled="!validateForm"
            size="small"
            color="warning"
            type="filled"
            icon-pack="feather"
            icon="icon-plus"
          >Incluir</vs-button>
        </div>
        <div class="vx-col mt-2">
          <vs-button
            @click.stop="toggleAddList(false)"
            size="small"
            color="danger"
            type="border"
          >Cancelar</vs-button>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { Money } from "v-money";
import Datepicker from "vuejs-datepicker";
import * as lang from "vuejs-datepicker/src/locale";
import draggable from "vuedraggable";

export default {
  components: {
    Money,
    Datepicker,
    draggable
  },
  data() {
    return {
      dataDesc: "",

      //calendar
      language: "ptBR",
      languages: lang,
      format: "dd MMMM yyyy",

      activeAddReceived: false,
      receivedLocal: {
        name: "",
        received: 0,
        date: new Date(Date.now())
      },

      money: {
        decimal: ",",
        thousands: ".",
        precision: 2,
        masked: false
      }
    };
  },
  computed: {
    validateForm() {
      return this.receivedLocal.name != "" && this.receivedLocal.received > 0;
    },
    totalDataReceivedsLocal() {
      return this.$store.getters["prevision/getTotalDataReceivedsLocal"];
    },
    totalValueReceivedsLocal() {
      return this.$store.getters["prevision/getTotalValueReceivedsLocal"];
    },
    receivedsListLocal: {
      get() {
        return this.$store.state.prevision.receiveds_local;
      },
      set(value) {
        let data = Object.assign([], value);
        this.$store.commit("prevision/SET_RECEIVEDS_LOCAL", data);
      }
    }
  },
  methods: {
    addReceivedLocal() {
      this.receivedLocal.date = Date.parse(this.receivedLocal.date);
      let receivedAdd = Object.assign({}, this.receivedLocal);

      this.$store
        .dispatch("prevision/addReceivedLocal", receivedAdd)
        .then(resolve => {
          this.toggleAddList(false);
          this.$vs.notify({
            text: "Incluído com sucesso!",
            color: "success",
            iconPack: "feather",
            icon: "icon-check-circle"
          });
        })
        .catch(err => {
          console.error(err);
        });
    },
    moveToReceivedLocal(index) {
      let itemId = index - 1;
      this.$store
        .dispatch("prevision/removeReceivedLocal", itemId)
        .then(result => {
          this.$vs.notify({
            text: "Excluído com sucesso!",
            color: "success",
            iconPack: "feather",
            icon: "icon-check-circle"
          });
        })
        .catch(err => {
          console.error(err);
        });
    },
    toggleAddList(value) {
      this.activeAddReceived = value;
      this.clearFields();
    },
    clearFields() {
      Object.assign(this.receivedLocal, {
        name: "",
        received: 0,
        date: new Date(Date.now())
      });
    },
    openPicker() {
      this.$refs.programaticOpen.showCalendar();
    }
  }
};
</script>
<style lang="scss">
@import "@sass/vuexy/prevision/receivedAddNew.scss";
</style>
