<template>
  <vs-sidebar
    click-not-close
    position-right
    parent="body"
    default-index="1"
    color="primary"
    class="add-new-data-sidebar items-no-padding"
    spacer
    v-model="isSidebarActiveLocal"
  >
    <div class="mt-6 flex items-center justify-between px-6">
      <h4>{{ Object.entries(this.data).length === 0 ? "ADICIONAR" : "ALTERAR" }} PREVISÃO</h4>
      <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>

    <VuePerfectScrollbar class="scroll-area--data-list-add-new" :settings="settings" :key="$vs.rtl">
      <div class="p-6 pt-2">
        <!-- DESCRIÇÃO -->
        <vs-input
          label="Descrição"
          v-model="dataName"
          class="mt-5 w-full"
          name="item-name"
          v-validate="'required'"
        />
        <span
          class="text-danger text-sm"
          v-show="errors.has('item-name')"
        >{{ errors.first('item-name') }}</span>

        <!-- CATEGORIA -->
        <vs-select
          autocomplete
          v-model="dataCategory"
          label="Tipo Previsão"
          class="mt-5 w-full"
          name="item-category"
          v-validate="'required'"
        >
          <vs-select-item
            :key="item.value"
            :value="item.value"
            :text="item.text"
            v-for="item in category_previsions"
          />
        </vs-select>
        <span
          class="text-danger text-sm"
          v-show="errors.has('item-category')"
        >{{ errors.first('item-category') }}</span>

        <!-- VALOR PLANEJADO -->
        <vx-input-group class="mb-base mt-5 w-full">
          <template slot="prepend">
            <div class="prepend-text bg-primary">
              <span>Planejado</span>
            </div>
          </template>
          <template slot="prepend">
            <div class="prepend-text bg-primary">
              <span>R$</span>
            </div>
          </template>
          <money
            v-model="dataPlanned"
            v-bind="money"
            v-validate="{ required: true }"
            name="Valor Planejado"
            class="vs-inputx vs-input--input normal hasValue"
          ></money>
        </vx-input-group>
        <span
          class="text-danger text-sm"
          v-show="errors.has('Valor Planejado')"
        >{{ errors.first('Valor Planejado') }}</span>
        <vs-divider class="mb-1" color="primary">Recebidos</vs-divider>
        <!-- RECEBIDOS -->
        <received />
      </div>
    </VuePerfectScrollbar>

    <div class="flex flex-wrap items-center p-6" slot="footer">
      <vs-button class="mr-6" @click="submitData" :disabled="!isFormValid">Salvar</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancelar</vs-button>
    </div>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import { Money } from "v-money";
import Received from "@/views/prevision/ReceivedAddNew";

export default {
  components: {
    VuePerfectScrollbar,
    Money,
    Received,
  },
  data() {
    return {
      dataId: null,
      dataName: "",
      dataCategory: null,
      dataPlanned: 0,

      category_previsions: [
        { text: "Renda", value: 1 },
        { text: "Doação", value: 2 },
        { text: "Transporte", value: 3 },
        { text: "Habitação", value: 4 },
        { text: "Saúde", value: 5 },
        { text: "Seguro", value: 6 },
        { text: "Pessoal", value: 7 },
      ],

      money: {
        decimal: ",",
        thousands: ".",
        precision: 2,
        masked: false,
      },

      settings: {
        // perfectscrollbar settings
        maxScrollbarLength: 60,
        wheelSpeed: 0.6,
      },
    };
  },
  props: {
    isSidebarActive: {
      type: Boolean,
      required: true,
    },
    data: {
      type: Object,
      default: () => {},
    },
  },
  watch: {
    isSidebarActive(val) {
      if (!val) return;
      if (Object.entries(this.data).length === 0) {
        this.initValues();
        this.$validator.reset();
      } else {
        let { id, name, category, planned, receiveds } = JSON.parse(
          JSON.stringify(this.data)
        );

        this.dataId = id;
        this.dataName = name;
        this.dataCategory = category;
        this.dataPlanned = planned;
        this.$store.commit("prevision/SET_RECEIVEDS_LOCAL", receiveds);
        this.initValues();
      }
    },
  },
  computed: {
    isSidebarActiveLocal: {
      get() {
        return this.isSidebarActive;
      },
      set(val) {
        if (!val) {
          this.$emit("closeSidebar");
        }
      },
    },
    isFormValid() {
      return (
        !this.errors.any() &&
        this.dataName &&
        this.dataCategory &&
        this.dataPlanned > 0
      );
    },
  },
  methods: {
    initValues() {
      if (this.data.id) return;
      this.dataId = null;
      this.dataName = "";
      this.dataCategory = null;
      this.dataPlanned = 0;
      this.$store.commit("prevision/INIT_RECEIVEDS_LOCAL");
    },
    submitData() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          const obj = {
            id: this.dataId,
            name: this.dataName,
            category: this.dataCategory,
            planned: this.dataPlanned,
            receiveds: this.$store.state.prevision.receiveds_local,
          };

          if (this.dataId !== null && this.dataId >= 0) {
            this.$store
              .dispatch("prevision/updateItem", obj)
              .then((resolve) => {
                this.$vs.notify({
                  text: "Alterado com sucesso!",
                  color: "success",
                  iconPack: "feather",
                  icon: "icon-check-circle",
                  position: "top-right",
                });
              })
              .catch((err) => {
                console.error(err);
              });
          } else {
            delete obj.id;
            obj.popularity = 0;
            this.$store
              .dispatch("prevision/addItem", obj)
              .then((resolve) => {
                this.$vs.notify({
                  text: "Cadastrado com sucesso!",
                  color: "success",
                  iconPack: "feather",
                  icon: "icon-check-circle",
                  position: "top-right",
                });
              })
              .catch((err) => {
                console.error(err);
              });
          }

          this.$emit("closeSidebar");
          this.initValues();
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;
  }
}

.scroll-area--data-list-add-new {
  height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
